.venv
__pycache__/
.DS_Store
.DS_Store?
.env
!backend/ml/data/raw/
backend/ml/data/raw/*
!backend/ml/data/raw/.gitkeep
backend/ml/data/processed/*
!backend/ml/data/processed/.gitkeep
!backend/ml/models/
backend/ml/models/*
!backend/ml/models/.gitkeep
!backend/ml/models/layer1_v1.joblib
!backend/ml/models/embedding_centroids.joblib
